body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #bfcefa, #6c94eb, #1366eb);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  color: #fff;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.card {
  background: rgba(255, 255, 255, 0.95);
  border: none;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  backdrop-filter: blur(15px);
}

h1, h2 {
  font-weight: 600;
  color: #2563eb;
  text-align: center;
}

.form-control {
  border-radius: 50px;
  border: 2px solid #2563eb;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.5);
}

.btn-custom {
  background: linear-gradient(to right, #2563eb, #3b82f6);
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background: linear-gradient(to right, #ecedf0, #ffffff);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgb(225, 226, 228);
}

.form-check-input:checked {
  background-color: #2563eb;
  border-color: #2563eb;
}

.footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
}